.checkout-onepage-success #payment_form_juniormaia_paymee div {
    margin: 15px auto;
}
.checkout-onepage-success .paymee-instructions .instructions ul {
    list-style: none;
    text-align: left;
    list-style-position: inside;
}
.checkout-onepage-success .paymee-instructions .instructions {
    width: 800px;
    margin: 0 auto;
}
.checkout-onepage-success .paymee-instructions .instructions ul li {
    margin: 10px 0;
}
.checkout-onepage-success .paymee-instructions .instructions p {
    text-align: left;
}

.checkout-onepage-success .paymee-instructions .instructions h1 {
    margin-left: 33%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.checkout-onepage-success .buttons-set {
    clear: both;
    margin: 10px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    text-align: right;
}

.checkout-onepage-success .buttons-set-pedidos {
    clear: both;
    margin: 10px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    text-align: right;
}

.checkout-onepage-success .advice {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
.checkout-onepage-index .instruction strong {
    display: block;
}
.checkout-onepage-index .campos label {
    float: left;
    color: grey;
}
.checkout-onepage-index .campos .campo {
    float: none;
    display: block;
    border: 1px solid rgb(179, 179, 179)
}
.checkout-onepage-index .campos select.campo{
    border-radius: 5px;
    height: 30px;
    padding: 0 15px;
}
.checkout-onepage-index .campos input.campo{
    border-radius: 5px;
}
.checkout-onepage-index .campos label{
    float: none;
    display: block;
    clear: both;
    margin-bottom: 5px;
}
.checkout-onepage-index .campos .campo-dupla {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}
.checkout-onepage-index .campos .campo-dupla div {
    float: left;
    margin-right: 5%;
    width: 40%;
}

.btn-paymee {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .3rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    vertical-align: top;
    display: block;
    margin-left: 36%;
    margin-right: auto;
}

.paymee-textBox {
    display: none;
}

.paymee-img-qr {
    border: 0;
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paymee-img-pix {
    border: 0;
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.checkout-onepage-success div.box-paymee {
    width: 300px;
    display: inline-block;
    margin-bottom: 3%;
}

.qr-subtitle {
    margin-left: 17%;
    font-size: 12px;
}

@media only screen and (max-width: 770px) {
    .checkout-onepage-success .paymee-instructions .instructions h1 {
        margin-left: 7%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .btn-paymee {
        color: #fff;
        background-color: #0275d8;
        border-color: #0275d8;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .3rem 1rem;
        font-size: 1rem;
        border-radius: .25rem;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        vertical-align: top;
        display: block;
        margin-left: 10%;
        margin-right: auto;
    }

    .checkout-onepage-success .buttons-set-pedidos {
        clear: both;
        padding-bottom: 10px;
        border-bottom: 1px solid #ededed;
        margin-left: 7%;
        margin-top: 2%;
    }

    .checkout-onepage-success div.box-paymee {
        width: 300px;
        margin-bottom: 3%;
        display: block;
    }

    .paymee-img-pix {
        border: 0;
        vertical-align: top;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        height: 75px;
    }
}